# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Adicione ao .gitignore!
storePassword=Pal.135563
keyPassword=Pal.135563